---
import experiences from '../../data/experience.json'
---

<section class='group flex flex-col gap-4'>
  <header class='flex items-center [&>:first-child]:mr-2'>
    <img
      src='/svg/cube.svg'
      class='size-6 translate-x-4 rounded-md border border-primary/20 bg-muted p-1 text-white opacity-0 transition group-hover:translate-x-0 group-hover:opacity-100'
      alt='projects icon'
    />
    <h3
      class='-translate-x-8 font-semibold transition group-hover:translate-x-0'
    >
      Experience
    </h3>
  </header>
  <section
    class='ml-4 flex flex-col gap-6 border-l border-dashed border-muted pl-4'
  >
    <header class='flex items-center gap-2'>
      <img
        src='/images/no-country.png'
        class='size-10 rounded-lg border border-primary/20 object-cover'
      />
      <section class='flex flex-col gap-1'>
        <p class='font-bold'>No Country</p>
        <p class='text-sm'>Jobs Simulation platform</p>
      </section>
    </header>
    <ul class='flex flex-col gap-2 divide-y divide-border'>
      {
        experiences.map((exp) => (
          <li class='flex flex-wrap items-center justify-between py-2'>
            <section class='flex flex-col gap-1'>
              <p class='font-semibold'>{exp.project}</p>
              <p class='text-sm text-secondary'>{exp.role}</p>
            </section>
            <section class='flex gap-1 text-xs'>
              <p>{exp.since} -</p>
              <p>{exp.until}</p>
            </section>
          </li>
        ))
      }
    </ul>
  </section>
  <footer class='flex gap-2 *:flex-1'>
    <button
      class='flex items-center justify-center gap-2 rounded-lg border border-border py-2 text-sm font-semibold transition hover:bg-muted'
    >
      <img src='/svg/cv.svg' class='size-4' />
      Download cv</button
    >
    <button
      class='flex items-center justify-center gap-2 rounded-lg border border-border py-2 text-sm font-semibold transition hover:bg-muted'
    >
      <img src='/svg/download.svg' class='size-4' />
      Read cv</button
    >
  </footer>
</section>
