---
import { getI18n } from '@/i18n/getI18n'

const a = Astro.currentLocale
const i18n = getI18n(a)
---

<section class='flex flex-col gap-4'>
  <h3 class='hero-child font-semibold'>{i18n.hero.title}</h3>
  <section class='prose prose-invert w-full text-secondary'>
    <p class='hero-child'>{i18n.hero.greet} 👋</p>
    <p class='hero-child' set:html={i18n.hero.description} />
  </section>
  <span class='group relative'>
    argentina
    <div
      class='absolute size-2 rounded-full bg-red-500 opacity-0 group-hover:opacity-100'
    >
    </div>
  </span>
</section>

<script>
  import { animate, stagger } from 'motion'

  animate(
    '.hero-child',
    { opacity: [0, 1], y: [100, 0], filter: ['blur(10px)', 'blur(0px)'] },
    {
      type: 'spring',
      duration: 2,
      delay: stagger(0.1)
    }
  )
</script>
