---
import Card from "../components/Card.astro";
import projects from "../data/projects.json";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Santiago Zarate | Portfolio">
  <section class="flex flex-col gap-12">
    <section class="flex flex-col gap-4">
      <h3 class="font-semibold">About Me</h3>
      <section class="w-full prose prose-invert text-secondary">
        <p>Hi! 👋</p>
        <p class="">
          I’m <span class="font-semibold text-primary">Santiago Zarate</span>, a
          fullstack web Developer from Argentina with a passion for building
          intuitive UIs, and creating smooth, subtle animations to enhance user
          experiences.
        </p>
      </section>
    </section>
    <section class="flex flex-col gap-4">
      <h3 class="font-semibold">Projects</h3>
      <ul class="grid grid-cols-2 gap-2">
        {projects.map((project) => <Card {...project} />)}
      </ul>
    </section>
  </section>
</Layout>
