---
interface Props {
  title: string;
  description: string;
  href: string;
  stack: string[];
}

const { href, title, description, stack } = Astro.props;
---

<li
  class="border border-border rounded-lg group bg-background hover:bg-primary/5"
>
  <a href={href} class="flex flex-col gap-2 p-4">
    <header class="flex gap-1 items-center">
      <h2>
        {title}
      </h2>
      <img
        src="/svg/arrow-right.svg"
        class="size-4 group-hover:translate-x-1 transition"
      />
    </header>
    <p>
      {description}
    </p>
    <ul class="flex gap-1">
      {
        stack.map((item) => (
          <li class="text-xs capitalize bg-muted px-2 py-1 rounded-md">
            {item}
          </li>
        ))
      }
    </ul>
  </a>
</li>
