---
interface Props {
  title: string;
  description: string;
  href: string;
  stack: string[];
}

const { href, title, description } = Astro.props;
---

<li class="border border-border rounded-lg p-4">
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {description}
    </p>
  </a>
</li>
