---
import socials from '@/data/socials.json'
---

<footer
  class='mt-20 flex flex-wrap justify-between gap-4 border-t border-border pb-12 pt-6'
>
  <section class='flex flex-col gap-2'>
    <p class='text-xs'>Powered by Astro</p>
    <a
      href='https://github.com/SantiagoZarate/web-portfolio'
      class='group flex items-center gap-2 text-xs text-secondary'
      target='_blank'
    >
      Source code
      <img
        alt='Top rigth arrow icon'
        src='/svg/arrow-up-rigth.svg'
        class='size-4 opacity-50 transition group-hover:translate-x-[2px] group-hover:translate-y-[-2px] group-hover:opacity-100'
      />
    </a>
  </section>
  <section class='flex gap-6'>
    <article class='flex flex-col gap-4'>
      <p class='text-sm font-semibold'>Connect</p>
      <nav class='flex flex-col'>
        {
          socials.map((social) => (
            <a
              class='py-2 text-xs text-secondary transition hover:text-primary'
              href={social.href}
              target='_blank'
            >
              {social.name}
            </a>
          ))
        }
      </nav>
    </article>
  </section>
</footer>
