<header class="fixed top-0 pt-12 pb-4">
  <section class="flex gap-2 items-center">
    <figure class="h-10 w-10 rounded-full overflow-hidden">
      <img
        class="w-full h-full object-cover bg-red-300"
        src="./images/yo.webp"
        alt=""
      />
    </figure>
    <section class="flex flex-col gap-1">
      <h3>Santiago Zarate</h3>
      <p class="text-secondary">Fullstack Developer</p>
    </section>
  </section>
</header>
