---
import socials from '@/data/socials.json'
import './header.css'
const lang = Astro.currentLocale
---

<header class='header fixed left-0 top-0 w-full px-6 pb-4 pt-12'>
  <div
    class='mx-auto flex max-w-screen-tablet items-center justify-between gap-6'
  >
    <section class='flex items-center gap-2'>
      <figure class='pfp size-14 overflow-hidden rounded-full'>
        <img
          class='h-full w-full bg-background object-cover'
          src='./images/yo.webp'
          alt='Santiago zarate profile picture'
        />
      </figure>
      <section class='flex flex-col gap-1'>
        <header
          class='flex items-center divide-x divide-muted [&>:first-child]:pr-2 [&>:last-child]:pl-2'
        >
          <h3>Santiago Zarate</h3>
          <p class='text-sm text-secondary'>Fullstack Developer</p>
        </header>
        <section class='flex items-center gap-2'>
          <div
            class='flex items-center gap-2 rounded-full border border-border bg-background px-2 py-1'
          >
            <div class='size-1 animate-ping rounded-full bg-green-500'></div>
            <p class='text-xs capitalize text-secondary'>available to work</p>
          </div>
        </section>
      </section>
    </section>
    <section class='flex items-center gap-2'>
      <a
        class='relative rounded-lg px-4 py-2 transition hover:bg-muted'
        href={lang === 'es' ? '/' : '/es'}
      >
        <img src='/svg/world.svg' class='size-6' />
        <span
          class='absolute -bottom-0 -right-0 rounded-md border border-border bg-background px-1 text-xs'
        >
          {lang}
        </span>
      </a>
      <nav class='flex gap-2'>
        {
          socials.map((social) => (
            <a
              target='_blank'
              href={social.href}
              class='group grid grid-cols-1'
            >
              <img
                src='/svg/arrow-up-rigth.svg'
                class='size-6 translate-y-2 opacity-0 transition [grid-area:1/-1] group-hover:translate-y-0 group-hover:opacity-100'
              />
              <img
                src={social.icon}
                class='size-6 transition [grid-area:1/-1] group-hover:-translate-y-2 group-hover:opacity-0'
              />
            </a>
          ))
        }
      </nav>
    </section>
  </div>
</header>
