---
import './header.css'
---

<header class='header fixed left-0 top-0 w-full px-6 pb-4 pt-12'>
  <div
    class='mx-auto flex max-w-screen-tablet items-center justify-between gap-6'
  >
    <section class='flex items-center gap-2'>
      <figure class='pfp size-14 overflow-hidden rounded-full'>
        <img
          class='h-full w-full bg-background object-cover'
          src='./images/yo.webp'
          alt='Santiago zarate profile picture'
        />
      </figure>
      <section class='flex flex-col gap-1'>
        <h3>Santiago Zarate</h3>
        <p class='text-secondary'>Fullstack Developer</p>
      </section>
    </section>
    <nav class='flex gap-2'>
      <a href=''>twitter</a>
    </nav>
  </div>
</header>
